body{
  background-image: url('https://lh3.googleusercontent.com/c_tzlepdoqt_zpdXCiEW4IIUyAC4HqHNGZZkwF6WiGY0Z6HxKfWcwWZyqhFQINakyzRJGLn0s9MUrbn51xSALwEJcrLQ597dk9XPBlpkeDUu0UCnusdzCxJRdJnTeZ---4AGet7uwmHH9gTWuOcaqaIzO0b2mj97TQ_bHzb_t_gnI2gS3Ccli2xZmLDo7duww6LHXWfDNKYDpyG96oX0TmQdZ81Sb-rBoDt08_Wknr8SeexC4ZCVueNkHTi_jUFMWWgEmjkXtrQ2_IVq69kMcNLEkz8bIqTSbvdBBCr19N_JibpuIw2ANtmIJC0KilrJvPidBwNiKeqT2FYzrmNNWsIMVZkK5St9GjMycxdC4sPXkERkE2xHF4xF7HsIcetN4tHm2WZa6SO00FkaZsrMM8Qu8zShRnm2RWye4ctNa3Yj-BS91ldtbyrkeI3u6JjXEqaWDr_hRARL-QVCvEh4dBlKPDeAujFt-Uc2lySUU0YVAOFe1gDM9SJMh3GPM_N9lmn0r84TveAdlU8JMRNQA407WGutl7t5aMKdtMw03Ty2zQi7gXKDxpzjUesK3a36lRW8KpXOxrGp4kXOk3ZQSO2hszxa3wtpvMpzk2bDcrs9y4J2itMIYZeif1PlmmdqNRe64qbpkQu6y-m5qZyCaaF26XWG3ade9daO2fHjj_RrhG51XDscAd5goJkuYKEXpTmCi05-0W7WK70mukLwfNt5d951W9z8m4MeejKMAY_IW41FA_yH3M5SiH7dz1E=w1080-h516-no?authuser=0');
  background-size:1280px 750px;
  
}
#demo1{
        position:absolute;
        margin-left:700px;
        margin-top:600px;
        width:150px;
        height:75px;
        font-size:30px;
        color:green;
        font-family: 'Noto Sans TC', sans-serif;
        border-radius:20%;
        
}

#game{
        position:absolute;
        margin-left:350px;
        margin-top:600px;
        width:150px;
        height:75px;
        font-size:30px;
        color:green;
        font-family: 'Noto Sans TC', sans-serif;
        border-radius:20%;
}